<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <img src="assets/image/nagarro logo.png" alt="Nagarro Travel Portal">
        <p class="travel-portal">Travel Portal</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" role="button" routerLink="/">LogOut</a>
                </li>
            </ul>
  
        </div>
    </div>
  </nav>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"><b>Add a Ticket</b></div>
                <div class="card-body">
                    <form name="my-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                            <label for="requestType" class="col-md-4 col-form-label text-md-right"><mark>*</mark>Request
                                Type
                            </label>
                            <select formControlName="requestType" class="form-control col-md-5 "
                                [(ngModel)]="ticket.requestType"
                                [ngClass]="{ 'is-invalid': submitted && check.requestType.errors }">
                
                                <option value="Travel Tickets">Travel Tickets</option>
                                <option value="Hotel Stay">Hotel Stay</option>
                                <option value="Visa">Visa</option>
                                <option value="Work Permit">Work Permit</option>
                            </select>
                            <div *ngIf="submitted && check.requestType.errors" class="invalid-feedback">
                                <div *ngIf="check.requestType.errors.required">Type is required</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="requestType"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>Priority
                            </label>
                            <select formControlName="priority" class="form-control col-md-5 " [(ngModel)]="ticket.priority"
                                [ngClass]="{ 'is-invalid': submitted && check.priority.errors }">
                                <option value="">Please select priority..</option>
                                <option value="Normal">Normal</option>
                                <option value="Urgent">Urgent</option>
                                <option value="Immediate">Immediate</option>
                            </select>
                            <div *ngIf="submitted && check.priority.errors" class="invalid-feedback">
                                <div *ngIf="check.priority.errors.required">Priority is required</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="requestType"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>travelCity
                            </label>
                            <select formControlName="travelCity" class="form-control col-md-5 "
                                [(ngModel)]="ticket.travelCity"
                                [ngClass]="{ 'is-invalid': submitted && check.travelCity.errors }">
                                <option value="">Please select Travel City..</option>
                                <option value="Noida">Noida</option>
                                <option value="Agra">Agra</option>
                            </select>
                            <div *ngIf="submitted && check.travelCity.errors" class="invalid-feedback">
                                <div *ngIf="check.travelCity.errors.required">City is required</div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="requestType"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>fromLocation
                            </label>
                            <select formControlName="fromLocation" class="form-control col-md-5 "
                                [(ngModel)]="ticket.fromLocation"
                                [ngClass]="{ 'is-invalid': submitted && check.fromLocation.errors }">
                                <option value="">Please select source city..</option>
                                <option value="Noida">Noida</option>
                                <option value="Agra">Agra</option>
                            </select>
                            <div *ngIf="submitted && check.fromLocation.errors" class="invalid-feedback">
                                <div *ngIf="check.fromLocation.errors.required">City is required</div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="travelStartDate"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>travelStartDate
                            </label>
                            <div class="col-md-6">
                                <input type="Date" id="travelStartDate" formControlName="travelDate"
                                    [ngClass]="{ 'is-invalid': submitted && check.travelDate.errors }" class="form-control"
                                    name="travelDate" [(ngModel)]="ticket.travelDate">
                                <div *ngIf="submitted && check.travelDate.errors" class="invalid-feedback">
                                    <div *ngIf="check.travelDate.errors.required">travelDate is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="travelEndDate"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>travelEndDate</label>
                            <div class="col-md-6">
                                <input type="Date" id="travelEndDate" formControlName="endDate"
                                    [ngClass]="{ 'is-invalid': submitted && check.endDate.errors }" class="form-control"
                                    name="endDate" [(ngModel)]="ticket.endDate">
                                <div *ngIf="submitted && check.endDate.errors" class="invalid-feedback">
                                    <div *ngIf="check.endDate.errors.required">endDate is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="present_address"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>passportNumber
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="passportNumber" formControlName="passportNumber"
                                    [ngClass]="{ 'is-invalid': submitted && check.passportNumber.errors }"
                                    class="form-control" name="passportNumber" [(ngModel)]="ticket.passportNumber">
                                <div *ngIf="submitted && check.passportNumber.errors" class="invalid-feedback">
                                    <div *ngIf="check.passportNumber.errors.required">passportNumber is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="permanent_address" 
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>expenseBornBy
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="expenseBornBy" formControlName="expenseBornBy" class="form-control" name="expenseBornBy"
                                    [(ngModel)]="ticket.expenseBornBy">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="projectName"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>projectName</label>
                            <div class="col-md-6">
                                <input type="text" id="projectName" formControlName="projectName"
                                    [ngClass]="{ 'is-invalid': submitted && check.projectName.errors }" class="form-control"
                                    name="travelAprrover" [(ngModel)]="ticket.projectName">
                                <div *ngIf="submitted && check.projectName.errors" class="invalid-feedback">
                                    <div *ngIf="check.projectName.errors.required">projectName is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="travelAprrover"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>travelAprrover</label>
                            <div class="col-md-6">
                                <input type="text" id="travelAprrover" formControlName="travelAprrover" class="form-control" 
                                    [(ngModel)]="ticket.travelAprrover">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="upperBound"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>upperBound</label>
                            <div class="col-md-6">
                                <input type="text" id="upperBound" formControlName="upperBound" class="form-control" name="upperBound"
                                    [(ngModel)]="ticket.upperBound">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="additionalDetail"
                                class="col-md-4 col-form-label text-md-right"><mark>*</mark>additionalDetail</label>
                            <div class="col-md-6">
                                <input type="text" id="additionalDetail" formControlName="additionalDetail"
                                    [ngClass]="{ 'is-invalid': submitted && check.additionalDetail.errors }"
                                    class="form-control" name="additionalDetail" [(ngModel)]="ticket.additionalDetail">
                                <div *ngIf="submitted && check.additionalDetail.errors" class="invalid-feedback">
                                    <div *ngIf="check.additionalDetail.errors.required">projectName is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-5">
                            <input type="submit" class="btn btn-primary fadeIn fourth" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>