<app-adminheader></app-adminheader>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/color/1000/000000/user.png" id="icon" height="150" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #form ="ngForm" >
      <input type="text" id="login" class="fadeIn second" name="userName" placeholder="username"    #fieldOne="ngModel"
       ngModel [class.field-error]="form.submitted && fieldOne.invalid">  >
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password"    #fieldTwo="ngModel"
       ngModel [class.field-error]="form.submitted && fieldTwo.invalid" >
      <input type="button" class="fadeIn fourth" value="Log In " (click)="login(form)">
    </form>
  </div>
</div>