<div class="container">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Ticket Id</th>
          <th scope="col">Project name</th>
          <th scope="col">Request Type</th>
          <th scope="col">Priority</th>
          <th scope="col">Travel city</th>
          <th scope="col">Date of Submisson</th>
          <th scope="col">Date of Updation</th>
          <th scope="col">Status</th>
          <th scope="col">Employee Id</th>
          
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary">
              Split dropup
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <!-- Dropdown menu links -->
            </div>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ticketData | paginate: { itemsPerPage: count, currentPage: p }">
          <td>{{item.id}}</td>
          <td>{{item.projectName}}</td>
          <td>{{item.requestType}}</td>
          <td>{{item.priority}}</td>
          <td>{{item.travelCity}}</td>
          <td>{{item.createdAt}}</td>
          <td>{{item.updatedAt}}</td>
          <td>{{item.status}}</td>
          <td>{{item.employee.userName}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Update Status
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/PrioritySort">Approved</a>
                  <a class="dropdown-item" href="/StatusSort">Reject</a>
              </div>
          </div>
            <!-- <a class="btn btn-sm btn-primary" [routerLink] = "['/admin/updateTicketInfo',item.id]" >ViewTicket</a> -->
          </td>
          <td><button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
           Upload PDF
        </button></td>

        <td><a href = "#">Add comment</a></td>
        </tr>
      </tbody>
    </table>
    <!--Including the pagination control.-->
    <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
   
    
    
   
  </div>