<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
  <div class="container">
    <img src="assets/image/nagarro logo.png" alt="Nagarro Travel Portal">
    <p class="travel-portal">Travel Portal</p>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/adminlogin">Admin Login</a> -->

          <div class="dropdown nav-link">
            <button class="dropbtn btn btn-primary">Sort</button>
            <div class="dropdown-content">
              <a  role="button" (click)="prioritySort()">Priority</a>
              <a role="button" (click)="dateSort()">Date</a>
            </div>
          </div>

        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/adminlogin">Admin Login</a> -->
          <!-- <div class="dropdown nav-link">
            <button class="dropbtn btn btn-primary">Filter</button>
            <div class="dropdown-content">
              <a href="#">Priority</a>
              <a href="#">Date</a>
              <a >Status</a>
            </div>
          </div> -->

    

<input #ordersFilter type="text" class="form-control"
placeholder="Filter Search"(keyup)="filterTicket(ordersFilter.value)">


        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Ticket Id</th>
        <th scope="col">Project name</th>
        <th scope="col">Request Type</th>
        <th scope="col">Priority</th>
        <th scope="col">Business Unit</th>

        <th scope="col">Travel city</th>
        <th scope="col">Date of Submisson</th>
        <th scope="col">Date of Updation</th>
        <th scope="col">Status</th>
        <th scope="col">Employee Id</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ticketData | paginate: { itemsPerPage: count, currentPage: p }"   >
        <td>{{item.id}}</td>
        <td>{{item.projectName}}</td>
        <td>{{item.requestType}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.employee.businessUnit}}</td>

        <td>{{item.travelCity}}</td>
        <td>{{item.createdAt}}</td>
        <td>{{item.updatedAt}}</td>
        <td>{{item.status}}</td>
        <td>{{item.employee.userName}}</td>
        <td>
           <div class="dropdown nav-link">
                      <button class="dropbtn  btn">Status</button>
                      <div class="dropdown-content">
                          <a role="button" (click)= 'updateStatus("Approved",item.id)'>Approved</a>
                          <a href="#">Reject</a>
                        </div>
                    </div>
          <!-- <a class="btn btn-sm btn-primary" [routerLink] = "['/admin/updateTicketInfo',item.id]" >ViewTicket</a> -->
        </td>
        <td>
                    <a class="btn btn-sm btn-primary" role="button" [routerLink] ="['uploadPdf',item.id,item.employee.id]">attachment</a>
                  </td>


       
      </tr>
    </tbody>
  </table>
  <!--Including the pagination control.-->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>




</div>