<app-header></app-header>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- <div class="card"> -->
            <div id="printsection">
                <div class="card-header"><b> Registration : Confirmation</b></div>
                <div class="card-body">
                    <form name="my-form" action="" method="">
                        <div class="form-group row">
                            <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name :</label>
                            <label for="first_name"
                                class="col-md-4 col-form-label text-md-left">{{user.firstName}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name :</label>
                            <label for="last_name"
                                class="col-md-4 col-form-label text-md-left">{{user.lastName}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="business_unit" class="col-md-4 col-form-label text-md-right">Business
                                Unit :</label>
                            <label for="business_unit"
                                class="col-md-4 col-form-label text-md-left">{{user.businessUnit}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Title :</label>
                            <label for="title" class="col-md-4 col-form-label text-md-left">{{user.title}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="username" class="col-md-4 col-form-label text-md-right">E-Mail :
                            </label>
                            <label for="username" class="col-md-4 col-form-label text-md-left">{{user.userName}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="Telephone" class="col-md-4 col-form-label text-md-right">Telephone :</label>
                            <label for="Telephone"
                                class="col-md-4 col-form-label text-md-left">{{user.phoneNumber}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="present_address" class="col-md-4 col-form-label text-md-right">Present
                                Address :</label>
                            <label for="present_address"
                                class="col-md-4 col-form-label text-md-left">{{user.address1}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Permanent
                                Address :</label>
                            <label for="permanent_address"
                                class="col-md-4 col-form-label text-md-left">{{user.address2}}</label>
                        </div>
                        <div class="form-group row">
                            <label for="city" class="col-md-4 col-form-label text-md-right">City :</label>
                            <label for="city" class="col-md-4 col-form-label text-md-left">{{user.city}}</label>
                        </div>

                        <div class="form-group row">
                            <label for="Country" class="col-md-4 col-form-label text-md-right">Country :</label>
                            <label for="Country" class="col-md-4 col-form-label text-md-left">{{user.country}}</label>
                        </div>


                        <div class="form-group row">
                            <label for="zip_number" class="col-md-4 col-form-label text-md-right"><abbr
                                    title="National Id Card">ZIP</abbr> Number :</label>
                            <label for="zip_number" class="col-md-4 col-form-label text-md-left">{{user.zip}}</label>
                        </div>
                        <div class="col-md-10">
                            <input type="submit" (click)="printComponent('printsection')" value="Print">
                            <input type="submit" routerLink="/register" value="Edit">
                            <input type="submit" routerLink="/" value="Return to Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>